In [3]:
import pandas as pd

path = "C:\AzraTanriver\Crime_Data_from_2020_to_Present.csv"

df = pd.read_csv(path)

# Boyut ve kolonlar
print(df.shape)
print(df.columns)

# Genel bilgi
df.info()

# İlk satırlar
df.head()

<>:3: SyntaxWarning: invalid escape sequence '\A'
<>:3: SyntaxWarning: invalid escape sequence '\A'
C:\Users\Azranur Tanrıver\AppData\Local\Temp\ipykernel_27996\1408519039.py:3: SyntaxWarning: invalid escape sequence '\A'
  path = "C:\AzraTanriver\Crime_Data_from_2020_to_Present.csv"

(1004991, 28)
Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1004991 entries, 0 to 1004990
Data columns (total 28 columns):
 #   Column          Non-Null Count    Dtype
---  ------          --------------    -----
 0   DR_NO           1004991 non-null  int64
 1   Date Rptd       1004991 non-null  object
 2   DATE OCC        1004991 non-null  object
 3   TIME OCC        1004991 non-null  int64
 4   AREA            1004991 non-null  int64
 5   AREA NAME       1004991 non-null  object
 6   Rpt Dist No     1004991 non-null  int64
 7   Part 1-2        1004991 non-null  int64
 8   Crm Cd          1004991 non-null  int64
 9   Crm Cd Desc     1004991 non-null  object
 10  Mocodes         853372 non-null   object
 11  Vict Age        1004991 non-null  int64
 12  Vict Sex        860347 non-null   object
 13  Vict Descent    860335 non-null   object
 14  Premis Cd       1004975 non-null  float64
 15  Premis Desc     1004403 non-null  object
 16  Weapon Used Cd  327247 non-null   float64
 17  Weapon Desc     327247 non-null   object
 18  Status          1004990 non-null  object
 19  Status Desc     1004991 non-null  object
 20  Crm Cd 1        1004980 non-null  float64
 21  Crm Cd 2        69160 non-null    float64
 22  Crm Cd 3        2314 non-null     float64
 23  Crm Cd 4        64 non-null       float64
 24  LOCATION        1004991 non-null  object
 25  Cross Street    154236 non-null   object
 26  LAT             1004991 non-null  float64
 27  LON             1004991 non-null  float64
dtypes: float64(8), int64(7), object(13)
memory usage: 214.7+ MB

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,...,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,211507896,04/11/2021 12:00:00 AM,11/07/2020 12:00:00 AM,845,15,N Hollywood,1502,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,7800 BEEMAN AV,NaN,34.2124,-118.4092
1,201516622,10/21/2020 12:00:00 AM,10/18/2020 12:00:00 AM,1845,15,N Hollywood,1521,1,230,"ASSAULT WITH DEADLY WEAPON, AGGRAVATED ASSAULT",...,IC,Invest Cont,230.0,NaN,NaN,NaN,ATOLL AV,N GAULT,34.1993,-118.4203
2,240913563,12/10/2024 12:00:00 AM,10/30/2020 12:00:00 AM,1240,9,Van Nuys,933,2,354,THEFT OF IDENTITY,...,IC,Invest Cont,354.0,NaN,NaN,NaN,14600 SYLVAN ST,NaN,34.1847,-118.4509
3,210704711,12/24/2020 12:00:00 AM,12/24/2020 12:00:00 AM,1310,7,Wilshire,782,1,331,THEFT FROM MOTOR VEHICLE - GRAND ($950.01 AND ...,...,IC,Invest Cont,331.0,NaN,NaN,NaN,6000 COMEY AV,NaN,34.0339,-118.3747
4,201418201,10/03/2020 12:00:00 AM,09/29/2020 12:00:00 AM,1830,14,Pacific,1454,1,420,THEFT FROM MOTOR VEHICLE - PETTY ($950 & UNDER),...,IC,Invest Cont,420.0,NaN,NaN,NaN,4700 LA VILLA MARINA,NaN,33.9813,-118.4350

In [4]:
missing_counts = df.isnull().sum().sort_values(ascending=False)
missing_ratio = (df.isnull().mean()*100).sort_values(ascending=False)

missing_df = pd.DataFrame({
    "missing_count": missing_counts,
    "missing_ratio_%": missing_ratio.round(2)
})
missing_df.head(20)

                missing_count  missing_ratio_%
Crm Cd 4              1004927            99.99
Crm Cd 3              1002677            99.77
Crm Cd 2               935831            93.12
Cross Street           850755            84.65
Weapon Used Cd         677744            67.44
Weapon Desc            677744            67.44
Mocodes                151619            15.09
Vict Descent           144656            14.39
Vict Sex               144644            14.39
Premis Desc               588             0.06
Premis Cd                  16             0.00
Crm Cd 1                   11             0.00
Status                      1             0.00
LAT                         0             0.00
LOCATION                    0             0.00
Status Desc                 0             0.00
DR_NO                       0             0.00
Date Rptd                   0             0.00
Vict Age                    0             0.00
Crm Cd Desc                 0             0.00

In [5]:
# 1. Gereksiz sütunları sil
df = df.drop(columns=['Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'Cross Street'])

# 2. Eksik kategorik sütunları doldur
df['Weapon Desc'] = df['Weapon Desc'].fillna('UNKNOWN')
df['Weapon Used Cd'] = df['Weapon Used Cd'].fillna(-1)  # -1 = bilinmeyen
df['Vict Sex'] = df['Vict Sex'].fillna('UNKNOWN')
df['Vict Descent'] = df['Vict Descent'].fillna('UNKNOWN')
df['Premis Desc'] = df['Premis Desc'].fillna('UNKNOWN')

# 3. Kategorik sütunları formatla
df['Vict Sex'] = df['Vict Sex'].str.strip().str.upper()
df['Vict Descent'] = df['Vict Descent'].str.strip().str.upper()
df['Weapon Desc'] = df['Weapon Desc'].str.strip().str.upper()

In [6]:
df.isnull().sum().sort_values(ascending=False).head(10)

Mocodes         151619
Premis Cd           16
Crm Cd 1            11
Status               1
DR_NO                0
Vict Descent         0
LAT                  0
LOCATION             0
Status Desc          0
Weapon Desc          0
dtype: int64

In [8]:
# Tarih dönüşümü (format belirtilmiş)
df['DATE OCC'] = pd.to_datetime(df['DATE OCC'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')
df['Date Rptd'] = pd.to_datetime(df['Date Rptd'], format='%m/%d/%Y %I:%M:%S %p', errors='coerce')

# Geçersiz (NaT) tarihleri at
df = df.dropna(subset=['DATE OCC', 'Date Rptd'])

# Rapor tarihi olay tarihinden önce olmasın
df = df[df['Date Rptd'] >= df['DATE OCC']]

# 2020 öncesi kayıtları kaldır
df = df[df['DATE OCC'].dt.year >= 2020]

In [9]:
df[['DATE OCC', 'Date Rptd']].head()

    DATE OCC  Date Rptd
0 2020-11-07 2021-04-11
1 2020-10-18 2020-10-21
2 2020-10-30 2024-12-10
3 2020-12-24 2020-12-24
4 2020-09-29 2020-10-03

In [10]:
# Rapor tarihi olay tarihinden önceyse sil
df = df[df['Date Rptd'] >= df['DATE OCC']]

# Aşırı ileri tarihli raporları (örneğin 1 yıldan fazla fark varsa) isteğe bağlı kaldırabiliriz
df = df[(df['Date Rptd'] - df['DATE OCC']).dt.days <= 365]

# 2020 öncesi kayıtları kaldır (emin olmak için tekrar)
df = df[df['DATE OCC'].dt.year >= 2020]
#bu aşamada tarih tutarsızlıkları temizliyoruz

In [11]:
(df['Date Rptd'] - df['DATE OCC']).describe()

count                        997468
mean      7 days 05:10:42.729791832
std      29 days 03:05:28.980581964
min                 0 days 00:00:00
25%                 0 days 00:00:00
50%                 1 days 00:00:00
75%                 2 days 00:00:00
max               365 days 00:00:00
dtype: object

In [12]:
import numpy as np

# 0 veya 110'dan büyük yaşları geçersiz say
df['Vict Age'] = df['Vict Age'].mask((df['Vict Age'] <= 0) | (df['Vict Age'] > 110))

# medyan yaşı hesapla
median_age = df['Vict Age'].median()
print("Medyan yaş:", median_age)

# NaN olanları medyanla doldur
df['Vict Age'] = df['Vict Age'].fillna(median_age)

Medyan yaş: 37.0

In [13]:
before_shape = df.shape

df = df[(df['LAT'] > 33) & (df['LAT'] < 35)]
df = df[(df['LON'] > -119) & (df['LON'] < -117)]

after_shape = df.shape
print("Önce:", before_shape, "Sonra:", after_shape)

Önce: (997468, 24) Sonra: (995231, 24)

In [15]:
# DR_NO'ya göre tekrar eden olaylar var mı?
print("Tekrarlı olay sayısı:", df.duplicated(subset=['DR_NO']).sum())

# Varsa sil
df = df.drop_duplicates(subset=['DR_NO'])

# Son durum kontrolü
print(df.shape)
df.info()

# Temizlenmiş versiyonu kaydet
df.to_csv("crime_data_clean_azra.csv", index=False)

Tekrarlı olay sayısı: 0
(995231, 24)
<class 'pandas.core.frame.DataFrame'>
Index: 995231 entries, 0 to 1004990
Data columns (total 24 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   DR_NO           995231 non-null  int64
 1   Date Rptd       995231 non-null  datetime64[ns]
 2   DATE OCC        995231 non-null  datetime64[ns]
 3   TIME OCC        995231 non-null  int64
 4   AREA            995231 non-null  int64
 5   AREA NAME       995231 non-null  object
 6   Rpt Dist No     995231 non-null  int64
 7   Part 1-2        995231 non-null  int64
 8   Crm Cd          995231 non-null  int64
 9   Crm Cd Desc     995231 non-null  object
 10  Mocodes         844367 non-null  object
 11  Vict Age        995231 non-null  float64
 12  Vict Sex        995231 non-null  object
 13  Vict Descent    995231 non-null  object
 14  Premis Cd       995215 non-null  float64
 15  Premis Desc     995231 non-null  object
 16  Weapon Used Cd  995231 non-null  float64
 17  Weapon Desc     995231 non-null  object
 18  Status          995230 non-null  object
 19  Status Desc     995231 non-null  object
 20  Crm Cd 1        995220 non-null  float64
 21  LOCATION        995231 non-null  object
 22  LAT             995231 non-null  float64
 23  LON             995231 non-null  float64
dtypes: datetime64[ns](2), float64(6), int64(6), object(10)
memory usage: 189.8+ MB